:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-synthesis: none;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(125, 125, 125, 0.5) transparent;
}

body {
  position: relative;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
