---
import Layout from "../layouts/Layout.astro";
---

<Layout lang={"ko"} title={"테스트"} description={"ㅁㄴㅇㄹ"} ogType="article">
  <main class="post-layout-wrapper">
    asdf
    <article class="mdx-safe-viewer" set:html={"asdf"} />
  </main>
</Layout>
